* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
#main {
  height: 100%;
  width: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 230px;
  border: 1px solid salmon;
  background-color: #f07f7f;
  border-radius: 20px;
  overflow: hidden;
}
#card1 {
  z-index: 4;
}
#card2 {
  /* height: 280px; */
  z-index: 3;
  /* width: 210px; */
  border-color: rgb(46, 29, 161);
  transform: translate(-50%, -50%) rotate(-6deg);
  background-color: blue;
}
#card3 {
  z-index: 2;
  /* height: 260px; */
  /* width: 190px; */
  border-color: aqua;

  transform: translate(-50%, -50%) rotate(-12deg); /* rotate:-12deg; */
  background-color: aqua;
}
#card4 {
  z-index: 1;
  /* height: 240px; */
  /* width: 170px; */
  border-color: black;
  /* rotate: -18deg; */
  transform: translate(-50%, -50%) rotate(-18deg);
  background-color: brown;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#card2:hover{
  z-index: 5;
}
#card3:hover{
  z-index: 6;


}
#card4:hover{
  z-index: 7;
}
